{% extends "disasterApp/layout.html" %}

{% load staticfiles %}

{% block head %}
    <title>Rizeni Katastrof</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'disasterApp/user_page.css' %}">

{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<h1 align="center"> Welcome {{user.username}}</h1>
		<a href="/user_page/" style="float:right">Home&nbsp;</a><br>
		<h2> Missing People</h2>
		<ol>
			{% for missing_person in missing_people %}
			<li> {{ missing_person.Name}}
				<ul>
					<li>Age: {{ missing_person.Age }}</li>
					<li>Gender: {{ missing_person.Gender }}</li>
					<li>Description: {{ missing_person.Description }}</li>
				</ul>
			</li>
		</ol>
		{% endfor %}
	
	{% else %}
		<p> The session has expired. Please click <a href="/">here</a> to login.</p>

	{% endif %}
{% endblock %}
