{% extends "disasterApp/layout.html" %}

{% load staticfiles %}

{% block head %}
    <title>Rizeni Katastrof</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'disasterApp/user_page.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}

      <span class="title">
        
        <h1 align="center"> Welcome {{user.username}}</h1>

        <form action="/logout/" method="POST">
            {% csrf_token %}
            <button type="submit" id="button_logout">Logout</button>
        </form>

        <a href="/notifications/" style="float:right">Notifications&nbsp;</a>
        <a href="/missing_people/" style="float:right">Missing People&nbsp;</a>

      </span>  
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#nearby_services">Nearby Services</a></li>
            <li><a href="#message_board">Message Board</a></li>
            <li><a href="#donation_board">Donation Board</a></li>
            <li><a href="#missing_people">Missing People</a></li>
          </ul>

          <div class="tab-content">
            <div id="nearby_services" class="tab-pane fade in active">

              <h2>Nearby Services</h2>
              <br>
              {% for service, place in places.items %}
                {% if service == "hospital" %}
                <h3>Hospital</h3>
                {% elif service == "fire_station" %}
                <h3>Fire Station</h3>
                {% elif service == "gas_station" %}
                <h3>Gas Station</h3>
                {% elif service == "atm" %}
                <h3>ATM</h3>
                {% elif service == "police" %}
                <h3>Police Station</h3>
                {% elif service == "pharmacy" %}
                <h3>Pharmacy</h3>
                {% endif %}
              <ol class="ordered_list">
                {% for place_tuple in place %}
                    <li>{% for element in place_tuple %}</li>
                        <ul>
                            <li>{{ element }}</li>
                        </ul>
                        {% endfor %}
                       {% endfor %}  
                      </ol>
                      {% endfor %}
                
                <h3>My Google Maps Demo</h3>
                <div id="map" style="width:100%;height:400px;"></div> 
                <!-- If style attribute is not present, then the map is not displayed-->
            </div>
            <div id="message_board" class="tab-pane fade">
              <h2>Message Board</h2>
              <form method="POST">
                {% csrf_token %}
                <p>Heading: <input type="text" name="heading"></p>
                <p>Description: <input type="text" name="description"></p>
                <button type="submit">Submit</button>
              </form>
              <br>
              <br>
              <div id =message_temp>
              <ol>
                <li>Heading: test message for the checking purpose only.</li>
                <br>
                <li>Heading: test message for the checking purpose only.</li>
                <br>
                <li>Heading: test message for the checking purpose only.</li>
                <br>
                <li>Heading: test message for the checking purpose only.</li>
                <br>
                <li>Heading: test message for the checking purpose only.</li>
                <br>
              </ol>
              </div>
            </div>
            <div id="donation_board" class="tab-pane fade">
              <h2>Donation Board</h2>
              <form method="POST">
                {% csrf_token %}
                <p>Items/Services: <input type="text" name="items_services"></p>
                <p>Location: <input type="text" name="location"></p>
                <p>Description: <input type="text" name="description"></p>
                <button type="submit">Submit</button>
              </form>
              <br>
              <br>
              <div id =donation_temp>
              <ol>
                <li>Items/Servies: test message for the checking purpose only.</li>
                <br>
                <li>Items/Servies: test message for the checking purpose only.</li>
                <br>
                <li>Items/Servies: test message for the checking purpose only.</li>
                <br>
                <li>Items/Servies: test message for the checking purpose only.</li>
                <br>
                <li>Items/Servies: test message for the checking purpose only.</li>
                <br>
              </ol>
              </div>
            </div>
            <div id="missing_people" class="tab-pane fade">
              <h2>Missing People</h2>
              <form method="POST">
                {% csrf_token %}
                <p>Name: <input type="text" name="name"></p>
                <p>Age: <input type="number" name="age"></p>
                <p>Gender: 
                  <input type="radio" name="gender" value="male" checked> Male
                  <input type="radio" name="gender" value="female"> Female
                  <input type="radio" name="gender" value="other"> Other 
                </p>
                <p>Description: <input type="text" name="description"></p>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>

    {% else %}
  	<!-- <form method="POST">
      	{% csrf_token %}
  		<p>Username: <input type="text" name="username"></p>
  		<p>Password: <input type="password" name="password"></p>
  		<button name="log_in" type="submit">Log In</button>
  	</form>
  	<br>
  	<form action="/register/" method="POST">
      	{% csrf_token %}
  		<button name="register" type="submit">Register</button>
	</form> -->
    <p> The session has expired. Please click <a href="/">here</a> to login.</p>
    {% endif %}

   
       <script>
      var map;
      initMap = function() {
      map = new google.maps.Map(document.getElementById('map'), 
        {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
      }
    </script>
    <script>
      
      $(document).ready(function(){
      
          $(".nav-tabs a").click(function(){
              $(this).tab('show');
              
          });
          $('.nav-tabs a').on('shown.bs.tab', function(event){
              var x = $(event.target).text();         // active tab
              var y = $(event.relatedTarget).text();  // previous tab
              $(".act span").text(x);
              $(".prev span").text(y);
          }); 
         
      
      /*}, initMap = function(){
        var mapProp= {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        };
         var map = new google.maps.Map($("#map")[0], mapProp);*/
         
      
      });

      $('.ordered_list').each(function(){
        var blankCheck = $(this).html().trim();
        if(blankCheck.length == 0) {
          $(this).html('<p>None found</p>');
        }  
      
      });
     
  
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF69n2VyPPLEWUk_Dv3RkI9ZhR1XMQAa4&callback=initMap" async defer>
    </script>
  
{% endblock %}

