{% extends "disasterApp/layout.html" %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'disasterApp/user_page.css' %}">
	<title>Rizeni Katastroph</title>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        
        {% for service, place in places.items %}
            <h3>{{ service }}</h3>
            <ol>
                {% for place_tuple in place %}
                    <li>{% for element in place_tuple %}</li>
                        <ul>
                            <li>{{ element }}</li>
                        </ul>
                        {% endfor %}
                {% endfor %}
            </ol>
        {% endfor %}
        
        <form action="/logout/" method="POST">
            {% csrf_token %}
            <button type = submit>Logout</a></p>
        </form>
    {% else %}
  	<form method="POST">
      	{% csrf_token %}
  		<p>Username: <input type="text" name="username"></p>
  		<p>Password: <input type="password" name="password"></p>
  		<button name="log_in" type="submit">Log In</button>
  	</form>
  	<br>
  	<form action="/register/" method="POST">
      	{% csrf_token %}
  		<button name="register" type="submit">Register</button>
	</form>
    {% endif %}
{% endblock %}

