body {
    margin: 15px; 
    padding: 15px;
}

#button_logout {
	width: 80px;
	float: right;
}

#map {
    height: 100%;
}

#message_temp {
    background-color: #DCDCDC;
    border: solid;
    padding: 15px;
    text-align: center;
}

#donation_temp {
    background-color: #DCDCDC;
    border: solid;
    padding: 15px;
    text-align: center;
}

